{% extends 'SavvyStaticBundle::layout.html.twig' %}
{% block title %}Portfolio - {{ portfolio.name | title }} {% endblock %}
{% block theme 'purple-bg' %}
{% block body %}
{% javascripts '@SavvyPortfolioBundle/Resources/public/js/*' output='js/portfolio.js' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="{{ asset_url }}" type="text/javascript" ></script>

{% endjavascripts %}
  <h1>{{ portfolio.name }}</h1>
  <div class="portfolio-show right">
    {% for image in images %}
      <img class="right" src="/images/our-work/{{ portfolio.slug | lower }}/{{ image.path }}" alt="{{ image.name }}" />
      <br />
    {% else %}
      <p>There are currently no images for this project.</p>
    {% endfor %}
  </div>
  <div class="portfolio-show-left">
    {{ portfolio.description|raw }}
          <a class="orange" href="{{ path("portfolio") }}" {% if app.request.attributes.get('_route') == 'portfolio' %}class="underline"{% endif %}>See our other work&hellip;</a>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
        $('.top').addClass('hidden');
        $.waypoints.settings.scrollThrottle = 30;
        $('div#content h1').waypoint(function(event, direction) {
            $(this).toggleClass('sticky', direction === "down").siblings('div.portfolio-show-left').toggleClass('sticky', direction === "down").siblings('div.portfolio-show.right').toggleClass('sticky', direction === "down");
            event.stopPropagation();
        },{
            offset: 15
        });
    });
  </script>


{% endblock %}
