<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Savvy Creative - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
          {% stylesheets
            '@SavvyStaticBundle/Resources/public/css/main.css'
            output='/css/main.css'
          %}
            <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
          {% endstylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <div id="wrapper">
          <div id="header_wrapper">
            <div id="header">
              <a href="{{ path("home") }}"><img id="logo" class="left" alt="Savvy Creative Uk. Smart Thinking, Clever Design, Solid Development" src="/images/jubilee/logo-jubilee.jpg" /></a>
            </div>
          </div>
        <div id="content_wrapper" class="{% block theme %}{%endblock%}">
          <div id="content">
            <ul class="navigation right">
              <li><a href="{{ path("home") }}" {% if app.request.attributes.get('_route') == 'home' %}class="underline"{% endif %}>HOME</a></li>
              <li><a href="{{ path("portfolio") }}" {% if app.request.attributes.get('_route') in ['portfolio','work'] %}class="underline"{% endif %}>WORK</a></li>
              <li><a href="{{ path("clients") }}" {% if app.request.attributes.get('_route') == 'clients' %}class="underline"{% endif %}>CLIENTS</a></li>
              <li><a href="{{ path("our_approach") }}" {% if app.request.attributes.get('_route') == 'our_approach' %}class="underline"{% endif %}>APPROACH</a></li>
              
              
              <li><a href="{{ path("meet_the_team") }}" {% if app.request.attributes.get('_route') == 'meet_the_team' %}class="underline"{% endif %}>TEAM</a></li>
              <li><a href="{{ path("new_contact") }}" {% if app.request.attributes.get('_route') == 'new_contact' %}class="underline"{% endif %}>CONTACT</a></li>
            </ul>
            <div class ="cb"></div>
            {% block body %}{% endblock %}
            <div class ="cb"></div>
          </div>
        </div>
        <div id="quick_nav_wrapper" class ="cb">
          <div id="quick_nav">
            {% block quick_nav %}
          
            {#<div id="quick_nav">
              <div class="quick-nav rob left">
                <h4 {% if app.request.attributes.get('_route') == 'about_us' %}class="orange"{% endif %}>SMART THINKING</h4>
                <p>Before we do any creative work, we talk to you and find out more about your business - your strategy, challenges and goals&hellip;</p>
                <a href="{{ path("about_us") }}" class="readmore">READ MORE</a>
              </div>
              <div class="quick-nav rob left">
                <h4 {% if app.request.attributes.get('_route') == 'clients' %}class="orange"{% endif %}>CLEVER DESIGN</h4>
                <p>Once the smart thinking is in place, the design flows naturally. Take a look at our Portfolio and you’ll see what we mean&hellip;</p>
                <a href="{{ path("clients") }}" class="readmore">READ MORE</a>
              </div>
              <div class="quick-nav rob left">
                <h4 {% if app.request.attributes.get('_route') == 'portfolio' %}class="orange"{% endif %}>SOLID DEVELOPMENT</h4>
                <p>Our team design and build websites that are robust, simple to navigate and easily expandable. It’s what we call solid development&hellip;</p>
                <a href="{{ path("home") }}" class="readmore">READ MORE</a>
              </div>
              <div class="quick-nav left">
                <h4 {% if app.request.attributes.get('_route') == 'new_contact' %}class="orange"{% endif %}>CONTACT US</h4>
                <p>Come and meet the team at Savvy. We guarantee a great cup of coffee, freshly ground, and Graham's home made biscuits&hellip;</p>
                <a href="{{ path("new_contact") }}" class="readmore">READ MORE</a>
              </div>
              <p id="address" class="cb white">23 BRIDGFORD ROAD, NOTTINGHAM, NG2 6AU</p>
            </div>#}
          {% endblock %}
              </div>
        </div>
        <div id="footer_wrapper">
          <div id="footer">
            <p id="address" class="cb white">23 Bridgford Road, Nottingham, NG2 6AU.&nbsp;&nbsp;0115 981 6276</p>
          </div>
        </div>
        {% block javascripts %}{% endblock %}
      </div>
          <script src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
<script src="/js/cookie.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
  cookieControl({
      introText:'<p>This site uses some unobtrusive cookies to store information on your computer.</p>',
      fullText:'<p>Some cookies on this site are essential, and the site won\'t work as expected without them. These cookies are set when you submit a form, login or interact with the site by doing something that goes beyond clicking on simple links.</p><p>We also use some non-essential cookies to anonymously track visitors or enhance your experience of the site. If you\'re not happy with this, we won\'t set these cookies but some nice features of the site may be unavailable.Some cookies on this site are essential, and the site won\'t work as expected without them. These cookies are set when you submit a form, login or interact with the site by doing something that goes beyond clicking on simple links.</p><p>We also use some non-essential cookies to anonymously track visitors or enhance your experience of the site. If you\'re not happy with this, we won\'t set these cookies but some nice features of the site may be unavailable.</p><p>To control third party cookies, you can also adjust your <a href="browser-settings" target="_blank">browser settings</a>.</p><p>By using our site you accept the terms of our <a href="http://savvycreativeuk.com/cookies.html">Privacy Policy</a>.</p>',
      position:'left', // left or right
      shape:'triangle', // triangle or diamond
      theme:'light', // light or dark
      startOpen:true,
      autoHide:6000,
      subdomains:true,
      protectedCookies: [], //list the cookies you do not want deleted ['analytics', 'twitter']
      consentModel:'information_only',
      onAccept:function(){ccAddAnalytics()},
      onReady:function(){},
      onCookiesAllowed:function(){ccAddAnalytics()},
      onCookiesNotAllowed:function(){},
      countries:'United Kingdom' // Or supply a list ['United Kingdom', 'Greece']
      });

      function ccAddAnalytics() {
        jQuery.getScript("http://www.google-analytics.com/ga.js", function() {
          var GATracker = _gat._createTracker('');
          GATracker._trackPageview();
        });
      }
   //]]>
</script> 
    </body>
</html>
