{% extends 'SavvyStaticBundle::layout.html.twig' %}
{% block title 'Home' %}
{% block theme 'purple-bg' %}
{% block body %}
  <div class="our-work-thumb left"><a href="{{ path('portfolio', {'slug' : 'the-resort-group'}) }}"><img src="/images/our-work/work-thumb-1.png" alt="The Resourt Group work examples" /></a><p><a class="purple center block" href="{{ path('portfolio', {'slug' : 'the-resort-group'}) }}">THE RESORT GROUP</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('portfolio', {'slug' : 'the-happy-egg-co'}) }}"><img src="/images/our-work/work-thumb-2.png" alt="Happy Egg Co work examples" /></a><p><a class="purple center block" href="{{ path('portfolio', {'slug' : 'the-happy-egg-co'}) }}">THE HAPPY EGG.CO</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('portfolio', {'slug' : 'dunas-beach-resort-and-spa'}) }}"><img src="/images/our-work/work-thumb-3.png" alt="Dunas Resort and Spa work examples" /></a><p><a class="purple center block" href="{{ path('portfolio', {'slug' : 'dunas-beach-resort-and-spa'}) }}">DUNAS BEACH RESORT & SPA</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('portfolio', {'slug' : 'the-construction-hub'}) }}"><img src="/images/our-work/work-thumb-4.png" alt="The Construction Hub and Lifestyle hub work examples" /></a><p><a class="purple center block" href="{{ path('portfolio', {'slug' : 'the-construction-hub'}) }}">THE CONSTRUCTION HUB</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('portfolio', {'slug' : 'the-grill-at-twenty-five'}) }}"><img src="/images/our-work/work-thumb-5.png" alt="The Grill at Twenty Five work examples" /></a><p><a class="purple center block" href="{{ path('portfolio', {'slug' : 'the-grill-at-twenty-five'}) }}">THE GRILL AT TWENTY FIVE</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('portfolio', {'slug' : 'vacation-club'}) }}"><img src="/images/our-work/work-thumb-6.png" alt="Vaction Club work examples" /></a><p><a class="purple center block" href="{{ path('portfolio', {'slug' : 'vacation-club'}) }}">VACATION CLUB</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('portfolio', {'slug' : 'march-fourth'}) }}"><img src="/images/our-work/work-thumb-7.png" alt="March Fourth Campaign work examples" /></a><p><a class="purple center block" href="{{ path('portfolio', {'slug' : 'march-fourth'}) }}">MARCH FOURTH</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('portfolio', {'slug' : 'llana-beach-hotel'}) }}"><img src="/images/our-work/work-thumb-8.png" alt="Llana Beach Hotel work examples" /></a><p><a class="purple center block" href="{{ path('portfolio', {'slug' : 'llana-beach-hotel'}) }}">LLANA BEACH HOTEL</a></p></div>
{% endblock %}
