{% extends 'SavvyStaticBundle::layout.html.twig' %}
{% block title 'work' %}
{% block theme 'purple-bg' %}
{% block body %}
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'the-happy-egg-co'}) }}"><img src="/images/our-work/work-thumb-2.png" alt="Happy Egg Co work examples" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'the-happy-egg-co'}) }}">THE HAPPY EGG.CO</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'delilah'}) }}"><img src="/images/our-work/delilah/delilah-thumb.jpg" alt="Branding for Delilah" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'delilah'}) }}">DELILAH</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'oak-student-letts'}) }}"><img src="/images/our-work/oak-student-letts/oak-thumb.jpg" alt="Oak Student Letts" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'oak-student-letts'}) }}">OAK STUDENT LETTS</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'the-resort-group'}) }}"><img src="/images/our-work/the-resort-group/trg-thumb.jpg" alt="The Resourt Group work examples" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'the-resort-group'}) }}">THE RESORT GROUP</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'the-grill-at-twenty-five'}) }}"><img src="/images/our-work/work-thumb-5.png" alt="The Grill at Twenty Five work examples" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'the-grill-at-twenty-five'}) }}">THE GRILL @ 25</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'vale-blinds'}) }}"><img src="/images/our-work/vale-blinds/vale-thumb.jpg" alt="Vale Blinds" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'vale-blinds'}) }}">VALE BLINDS</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'center-parcs'}) }}"><img src="/images/our-work/center-parcs/center-thumb.jpg" alt="Center Parcs" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'center-parcs'}) }}">CENTER PARCS</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'the-construction-hub'}) }}"><img src="/images/our-work/the-construction-hub/hub-thumb.jpg" alt="The Construction Hub and Lifestyle hub work examples" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'the-construction-hub'}) }}">THE CONSTRUCTION HUB</a></p></div>
{% endblock %}
{% block quick_nav %}
      <p id="visit" class="orange"><a class="orange" href="{{ path('clients') }}">See some savvy brands&hellip;</a></p>
{% endblock %}