{% extends 'SavvyStaticBundle::layout.html.twig' %}
{% block title 'work' %}
{% block theme 'purple-bg' %}
{% block body %}
  <h1>Examples of Savvy creativity</h1>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'the-resort-group'}) }}"><img src="/images/our-work/work-thumb-8.png" alt="The Resourt Group work examples" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'the-resort-group'}) }}">THE RESORT GROUP</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'oak-student-letts'}) }}"><img src="/images/our-work/work-thumb-1.png" alt="Oak Student Letts" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'oak-student-letts'}) }}">OAK STUDENT LETTS</a></p></div>
    <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'vale-blinds'}) }}"><img src="/images/our-work/work-thumb-1.png" alt="Vale Blinds" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'Vale Blinds'}) }}">VALE BLINDS</a></p></div>
    <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'the-happy-egg-co'}) }}"><img src="/images/our-work/work-thumb-2.png" alt="Happy Egg Co work examples" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'the-happy-egg-co'}) }}">THE HAPPY EGG.CO</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'delilah'}) }}"><img src="/images/our-work/work-thumb-1.png" alt="Branding for Delilah" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'delilah'}) }}">DELILAH</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'the-grill-at-twenty-five'}) }}"><img src="/images/our-work/work-thumb-5.png" alt="The Grill at Twenty Five work examples" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'the-grill-at-twenty-five'}) }}">THE GRILL @ 25</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'the-construction-hub'}) }}"><img src="/images/our-work/work-thumb-4.png" alt="The Construction Hub and Lifestyle hub work examples" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'the-construction-hub'}) }}">THE CONSTRUCTION HUB</a></p></div>
  <div class="our-work-thumb left"><a href="{{ path('work', {'slug' : 'geoquip'}) }}"><img src="/images/our-work/work-thumb-1.png" alt="Geoquip" /></a><p><a class="purple center block" href="{{ path('work', {'slug' : 'geoquip'}) }}">GEOQUIP</a></p></div>
{% endblock %}
{% block quick_nav %}
  <p id="visit" class="orange"><a href="{{ path('clients') }}">See some Savvy brands&hellip;</a></p>
{% endblock %}